.first {
  background-color: #085291;
  border-bottom:1px solid #4f9ed6;
  width: 100%;
  height: 40px;
  margin: 0 auto;
}
.first > ul {
  border-right: 1px solid #4f9ed6;
  margin-right: 2px;
  padding-right: 20px;
  float: right;
}
.first > ul li {
    display: inline-block;
    line-height: 40px;
    padding-left: 20px;
}
.first > ul li a {
  display: block;
  padding-left: 20px;
  width: 100%;
  height: 100%;
  color: #4f9ed6;
  font-size: 14px;
  text-decoration: none;
}
.first > ul li a:hover {
  color: white;
  background-color: #4f9ed6;
}
.first > p {
  display: inline-block;
  float: right;
  margin-right: 20px;
  padding: 0px 10px 0 10px;
  color: white;
  font-size: 14px;
  line-height: 40px;
}
.first img {
  margin: 7px 0 0 10px;
  float: right;
}
.reglink {
  background-color: #4f9ed6;
}
.wraper {
  background-image: url(../img/photo.jpg);
  background-size: cover;
  padding: 15% 25% 15% 25%;
}
.wraper header {
  text-align: center;
  line-height: 60px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 5px auto;
  height: 60px;
}
.regbox {
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0 auto;
  padding-top: 20px;

}
.regbox button {
  display: block;
  margin: 20px auto;
  height: auto;
  width: auto;
  border: 1px solid rgba(255, 0, 0, 0);
  background-color: rgba(255, 0, 0, 0);
}

.line {
  padding: 5px;
  margin: 0 auto;
  color: grey;
}
.line::before {
  content: "";
  height: 2px;
  width: auto;
  border-top: 1px solid grey;
  border-bottom: 1px solid black;
}
.line::after {
  content: "";
  width: auto;
  border-top: 1px solid grey;
  border-bottom: 1px solid black;
}
.reginput input {
  display: block;
  margin: 10px auto;
  width: 50%;
  height: 40px;
  background-color: black;
  border: 1px solid black;
  border-bottom: 1px solid grey;
  text-indent: 15px;
  font-size: 14px;
  line-height: 16px;
  color: #ccc;
}
.reginput input:hover {
  background-color: #1b5288;
  border: 1px solid #1b5288;
  border-bottom: 1px solid #689bcc;
  -webkit-box-shadow: 0px 0px 12px 3px rgba(104,155,204,1);
  -moz-box-shadow: 0px 0px 12px 3px rgba(104,155,204,1);
  box-shadow: 0px 0px 12px 3px rgba(104,155,204,1);
}
.subbutton {
  display: block;
  margin: 10px auto;
  width: 30%;
  height: 40px;
  background-color: linear-gradient (black, red);
  border: 1px solid lightblue;
  text-indent: 15px;
  font-size: 14px;
  line-height: 16px;
  color: #ccc;
}
.regbox p {
  text-align: center;
  color: white;
}
