.first {
  background-color: #085291;
  border-bottom:1px solid #4f9ed6;
  width: 100%;
  height: 40px;
  margin: 0 auto;
}
.first > ul {
  border-right: 1px solid #4f9ed6;
}
.first > ul li {
    display: inline-block;
    float: right;
}
.first > ul li a {
  color: #4f9ed6;
  font-size: 14px;
  line-height: 14px;
}
.first > p {
  background-color: black;
  display: inline-block;
  float: right;
  color: white;
  font-size: 14px;
  line-height: 14px;
}
.wraper {
  background-image: url(../img/photo.jpg);
  background-size: cover;
  width: auto;
  padding: 15% 25% 15% 25%;
  clear: both;
}
.wraper header {
  background-color: black;
  margin: 0 auto;
}
.regbox {
  background-color: black;
  margin: 0 auto;

}

.regbox input {
  display: block;
  margin: 0 auto;
  background-color: black;
  border-bottom: 1px solid grey;
  font-size: 14px;
  line-height: 16px;
  color: #ccc;
}
