.wraper {
  background: white;
  margin: 5px 15% 0px 15%;
  padding:0px  3% 20px 3%;
  border-left: 2px ridge #e7e7e7;
  border-right: 2px groove #e7e7e7;
  width: auto;
}
p,div,ul,li,a {
  font-family:  Open Sans;
}

/*------------- HEADER ------------- */

header {
  width: auto;
  background: white;
}
header > img {
  margin-bottom: 4%;
  margin-top: 4%;
}
header > ul {
  background-image: url(../img/panel.png);
  background-size: cover;
  width: auto;
}
header > ul li {
  display: inline-block;
  height: 100%;
  width:15%;
}
header > ul li a {
  display: block;
  height: 100%;
  width: auto;
  padding:8% 5% 8% 10%;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
}
header > ul li:hover {
  background-image: url(../img/link.png);
  background-repeat: no-repeat;
  background-size: cover;
}
header > ul li:nth-child(2){
  background-image: url(../img/link.png);
  background-size: cover;
  background-repeat: no-repeat;
}

/*---------- CONTENT------------- */

.conteiner {
  display: inline-block;
    background: white;
    margin: 4% 0 7% 0;
    padding: 0;
}
.left_menu {
  float: left;
  width: 20%;
}
.left_menu li {
  display: block;
  width: 100%;
}
.left_menu li a {
  width: 100%;
  padding: 10px;
  display: inline-block;
  border: 1px solid #c8c8c8;
  text-decoration: none;
  color: grey;
}
.left_menu li a:nth-child(3) {
  background-color: #f9f9f9;
}
.left_menu li:hover {
  background-color: #f9f9f9;
}
.left_menu li a:hover {
  text-indent: 15px;
  color: black;
}
.left_menu li a:nth-child(3) {
  color: black;
  text-indent: 15px;
}
.content {
  display:block;
  margin-left: 50px;
  background: white;
  float: right;
  width: 70%;
}
.photo {
  padding: 25% 0 25% 0;
  margin: 0;
  background-image: url(../img/bike.jpg);
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid #c8c8c8;
}
.content p {
  padding: 5% 0 5px 25px;
}

/*------------- FOOTER---------- */

footer {
  margin: 4% 0 7% 0;
  background: #e1e1e1;
  width: auto;
  clear: both;
}
footer > ul {
  padding: 10px 10px 10px 0px;
}
footer > ul li {
  display: inline-block;
  padding:10px;
  height: 100%;
}
footer > ul li a {
  margin: 20%;
  color: black;
  text-decoration: none;
}
footer > ul li:last-child {
  float: right;
}
footer > ul li:nth-child(2) {
  text-decoration: underline;
}
footer > ul li a:hover  {
  text-decoration: underline;
}
.clearfix:after {
  content: "";
  clear: both;
  display: block;
}
