body {
  background-image: url(../img/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  }
.wraper {
  margin: 18px 10% 2% 10%;
  background-color: white;
  height: auto;
  }
p,div,a,li {
  font-family: Tahoma;
}

/*-------------H E A D E R -----------------*/

header {
  display:inline-block;
  background-color: white;
  width: 100%;
}
header p {
   float: right;
   margin: 12px 24px 24px 0px;
   color: #128aa7;
   font-size: 12px;
   text-align: left;
   line-height: 24px;
}
.countries {
  display: inline-block;
  float: right;
}
.countries p {
  display: block;
  width: auto;
  text-align: center;
  font-size: 10px;
}
.countries p a {
  display: block;
  color: #128aa7;
  font-size: 10px;
  width: auto;
  line-height: 0;
}

.logo {
  float: left;
  margin: 7% 30% 6% 3%;
  color: #128aa7;
  font-size: 12px;
  text-align: center;
  line-height: 24px;
}
.clearfix:after {
  content: "";
  clear: both;
  display: block;
}
.photo {
  background-image: url(../img/photo.jpg);
  background-size: 100%;
  padding: 11% 0 11% 0;
  border-top: 1px solid #128aa7;
  border-bottom: 1px solid #128aa7;
  clear: both;
}
.panel {
  background-image: url(../img/panel.png);
  background-size: 100%;
  display: inline-block;
  width: 100%;
  position: relative;
}

.submenu {
  display: none;
  position: absolute;
  top: 24px;
  right: auto;
  left: auto;
  bottom: auto;
  background-color: #303030;
  line-height: 24px;
  width: auto;

}
.panel > li:hover > ul.submenu {
    display: block;
}
.panel li {
  display: inline-block;
  margin: 0 3% 0 3%;
  width: auto;
}

.panel li a {
  color: white;
  font-size: 14px;
  line-height: 24px;
}

/*------------C O N T A I N E R ------------*/
.conteiner {
  width: inherit;
  overflow: hidden;
}
.inf {
  float: left;
  width: 210px;
  height: 100%;
  background-image: url(../img/left_bground.png);
  background-size: 100%;
  border-right: 1px solid #c7cacf;
  margin-bottom: -20000px;
  padding-bottom: 20000px;
}
.inf p {
  border-bottom: 1px solid #c7cacf;
  padding: 15px;
  line-height: 24px;
  font-size: 14px;
}
.news {
  float: right;
  width: 210px;
  height: 100%;
  background-image: url(../img/left_bground.png);
  background-size: 100%;
  border-left: 1px solid #c7cacf;
  margin-bottom: -20000px;
  padding-bottom: 20000px;
}
.news p {
  border-bottom: 1px solid #c7cacf;
  padding: 15px;
  line-height: 24px;
  font-size: 14px;
}
.content {
  margin-left: 210px;
  margin-right: 210px;
  padding: 15px;
  width: auto;
}

footer {
  margin: 0 auto;
  text-align: center;
  font-size: 12px;
  color: white;
  clear: both;
  padding-bottom: 15px;
}
