.first {
  background-color: #085291;
  border-bottom:1px solid #4f9ed6;
  width: 100%;
  height: 40px;
  margin: 0 auto;
}
.first > ul {
  border-right: 1px solid #4f9ed6;
  margin-right: 2px;
  padding-right: 20px;
  float: right;
}
.first > ul li {
    display: inline-block;
    line-height: 40px;
}
.first > ul li a {
  display: block;
  text-indent: 20px;
  text-align: center;
  width: 100%;
  height: 100%;
  color: #4f9ed6;
  font-size: 14px;
  text-decoration: none;
}
.first > ul li a:hover {
  color: white;
  background-color: #4f9ed6;
}
.first > p {
  display: inline-block;
  float: right;
  margin-right: 20px;
  padding: 0px 10px 0 10px;
  color: white;
  font-size: 14px;
  line-height: 40px;
}
.first img {
  margin: 7px 0 0 10px;
  float: right;
}
.reglink {
  background: blue;
  background: linear-gradient(top, #67c6e6 0%, #398bcc 50%, #2f7bc5 100%);
  background: -moz-linear-gradient(top, #67c6e6 0%, #398bcc 50%, #2f7bc5 100%);
  background: -webkit-linear-gradient(top, #67c6e6 0%, #398bcc 50%, #2f7bc5 100%);
  background: -o-linear-gradient(top, #67c6e6 0%, #398bcc 50%, #2f7bc5 100%);
  background: -ms-linear-gradient(top, #67c6e6 0%, #398bcc 50%, #2f7bc5 100%);
}
.reglink a {
  color: white;
}
.wraper {
  background-image: url(../img/photo.jpg);
  background-size: cover;
  padding: 15% 25% 15% 25%;
}
.wraper header {
  text-align: center;
  line-height: 60px;
  font-size: 24px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 5px auto;
  height: 60px;
}
.regbox {
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0 auto;
  padding-top: 20px;
}
.regbox button {
  display: block;
  padding: 15px;
  margin: 20px auto;
  height: auto;
  width: 50%;
  border: 1px solid white;
  background: blue;
  background: linear-gradient( top, #3a5598 0%, #354e8e 50%, #2d447a 100%);
  background: -ms-linear-gradient( top, #3a5598 0%, #354e8e 50%, #2d447a 100%);
  background: -webkit-linear-gradient( top, #3a5598 0%, #354e8e 50%, #2d447a 100%);
  background: -o-linear-gradient( top, #3a5598 0%, #354e8e 50%, #2d447a 100%);
  background: -moz-linear-gradient( top, #3a5598 0%, #354e8e 50%, #2d447a 100%);
}

.regbox button p {
  text-indent: 10px;
  display: inline;
  color: white;
}
.regbox button .faceicon {
  display: inline-block;
  padding-right: 20px;
  margin-right: 20px;
  font-size: 20px;
  border-right: 1px solid blue;
}
.regbox p {
  text-align: center;
  color: white;
}
.regbox label {
  display: block;
  margin: 0 auto;
  color: white;

}
.line {
  padding: 5px;
  margin: 1px auto;
  color: grey;
}
.regbox p .line:before {
  content: "";
  height: 2px;
  width: 100px;
  border-top: 1px solid grey;
  border-bottom: 1px solid black;
}
.regbox p .line:after {
  content: "";
  width: auto;
  border-top: 1px solid grey;
  border-bottom: 1px solid black;
}
.reginput input {
  display: block;
  margin: 10px auto;
  width: 50%;
  height: 40px;
  background-color: black;
  border: 1px solid black;
  border-bottom: 1px solid grey;
  text-indent: 15px;
  font-size: 14px;
  line-height: 16px;
  color: #ccc;
}
.reginput input:hover {
  background-color: #1b5288;
  border: 1px solid #1b5288;
  border-bottom: 1px solid #689bcc;
  -webkit-box-shadow: 0px 0px 12px 3px rgba(104,155,204,1);
  -moz-box-shadow: 0px 0px 12px 3px rgba(104,155,204,1);
  box-shadow: 0px 0px 12px 3px rgba(104,155,204,1);
}
form .subbutton {
  margin: 10px auto;
  width: 30%;
  height: 40px;
  padding: 15px;
  background: blue;
  background: linear-gradient(top, #67c6e6 0%, #398bcc 50%, #2f7bc5 100%);
  background: -moz-linear-gradient(top, #67c6e6 0%, #398bcc 50%, #2f7bc5 100%);
  background: -webkit-linear-gradient(top, #67c6e6 0%, #398bcc 50%, #2f7bc5 100%);
  background: -o-linear-gradient(top, #67c6e6 0%, #398bcc 50%, #2f7bc5 100%);
  background: -ms-linear-gradient(top, #67c6e6 0%, #398bcc 50%, #2f7bc5 100%);
  border: 1px solid lightblue;
  text-indent: 15px;
  font-size: 14px;
  line-height: 15px;
  color: #ccc;
  text-align:center;
}
